.not-found{
  background-color: white;
  background: url(../../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .answer{
    text-align: right;
    float: right;
  }
  .avatar-img{
    border-radius: 30px;
  }

  ion-list > .item:last-child .item-inner{
    border-bottom: none;
  }

  .header{
    position: absolute;
    top: 50px;
    font-weight: 300;
    font-size: x-large;
    color: #5072b0;
    width: 90%;
    text-align: center;
  }

  .sub-header{
    position: absolute;
    top: 100px;
    font-weight: 300;
    color: black;
    width: 90%;
    text-align: center;
    font-size: medium;
  }

  .force-x-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .select-list{
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
  }

  .item{
    background-color: #5072b0;
    border-radius:40px;
    margin-bottom: 10px;

    ion-label{
      color: white;
    }
  }

  .item.text-input{
    border-bottom: 1px solid #c8c7cc;
    background-color: transparent;
    border-radius: 0px;


    ion-label{
      color: black;
    }
  }

  .item.disabled{

    ion-label{
      color: rgba(153, 153, 153, 0.50);
    }
  }

  .select-text{
    color: white;
  }

  .select-icon {
    opacity: 0;
  }

  .select-card{
    transition: all 0.5s ease;
    position: absolute;
    max-height: 300px;
    overflow: scroll;
    bottom: 0px;
    z-index: 999999;
    margin: 0px;
    width: 100%;


    .item{
      background-color: #f9f9f9;
      border-radius: 3px;
      margin-bottom: 10px;
    }

    ion-label{
      color: black;
    }
  }

  .select-card.visible{
    max-height: 300px;
  }


  .select-card.invisible{
    max-height: 0px;
  }

  #send-button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #5072b0;
  }
}
